@import "tailwindcss";

@theme {
    --color-brand-primary: #FACC15;
    --color-brand-secondary: #111827;
    --color-brand-accent: #38BDF8;
    --font-sans: "Inter", sans-serif;
}

@layer utilities {
    .scrollbar-hide {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }

    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }
}